html,
body
{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
html{
    /*background-color: black;*/
    
}
/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
    overflow-x: hidden;
    /*background: url('../images/bg.jpg') repeat top left;*/
}

h1
{
  font-size: 20px;
  font-weight: normal;
  color: #2e6e80;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}
#ground img{
  margin-bottom: -3px;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon
{
  z-index: 1;
  width: 3000px;
}
.middle
{
  z-index: 500;
  width: 4000px;
}

.front
{
  z-index: 1000;
  /*width: 6000px;*/
}
.perso{
  position: fixed;
  bottom: 0;
  left: 50px;

}
.walk{
    background: url('../images/walk.png') no-repeat top left;
    width: 371px; 
    height: 381px;
    animation: play 1.8s steps(4) infinite;
    -webkit-animation: play 1.8s steps(4) infinite;
}
@keyframes play {
   100% { background-position: -1463px; }
}
@-webkit-keyframes play {
  from { background-position: 0 0; }
  to { background-position: -1463px 0; }
}

.scene{
    /*height:853px;*/
    width: 100%; 
    border-top:2px solid green;
    display: inline-block;
    background-size: cover;
}
.anim1{ left: 23%; top: -20px;}
.anim2{ left: -13%; top: -50px;}
.anim3{ left: 11%;}
.anim4{ left: 0;}
.anim5{ top:-37%;}
.anim4{ left: 0;}
.anim4{ left: 0;}
.anim4{ left: 0;}
.anim4{ left: 0;}
.anim4{ left: 0;}

.oiseaufront{ background: url('../images/animois.png') no-repeat -558px -7056px; width: 722px; height: 275px; left:51%; }
.oiseauback{ background: url('../images/culois.png') no-repeat 0 -3784px; width: 533px; height: 221px; }
.cheval {background: url('../images/chev.png') no-repeat 0 -2667px; width: 415px; height: 663px; top:-37%;}
.piedchev {background: url('../images/piedcheval.png') no-repeat 0 0; width: 333px; height: 800px; top:-150%;}
.crottechev {background: url('../images/cacachev.png') no-repeat -541px -921px; width: 178px; height: 183px; top:55%; left: 20%;}
.lapin {background: url('../images/lapin1.png') no-repeat 0 0; width: 599px; height: 716px; left: 100%}
.lapin2 {background: url('../images/lapin2.png') no-repeat 0 0; width: 894px; height: 738px; left: 100%}
.crottelap {background: url('../images/cacalap.png') no-repeat -908px -1505px; width: 24px; height: 37px; float: left;}
.animation.tascrotte { left: 60%; top: 87%; }
.flies { background: url('../images/flies.png') no-repeat 0 0; width: 403px; height: 382px; left: 100%; top: 47%; }
.crotteTaupe{background: url('../images/cacaTaupe.png') no-repeat -808px -1893px; width: 45px; height: 30px; left: 63%; top:-6%; }
.crottepig { background: url('../images/crotteois.png') no-repeat 0 0; width: 214px; height: 98px; left: 40%; top: -17%; }
.dogscene { background: url('../images/dog1.png') no-repeat 0 0; width: 1280px; height: 885px; left: 80%; top:4%; }




.caca1{
    /*border:1px solid red;*/
    background: url('../images/crotte1.png') no-repeat top left;
    width: 221px;
    height: 897px;
    animation: playcrotte1 1.8s steps(9);
    -webkit-animation: playcrotte1 1.8s steps(9);
}
@keyframes playcrotte1 {
   100% { background-position: 0 -8153px; }
}
@-webkit-keyframes playcrotte1 {
  from { background-position: 0 0; }
  to { background-position: 0 -8153px; }
}
.cacaTaupe{
  background: url('../images/cacaTaupe.png') no-repeat top left; width: 1280px; height: 895px;
  animation: playcacataupe .8s steps(4) ;
  -webkit-animation: playcacataupe .8s steps(4);
}
@keyframes playcacataupe {
   100% { background-position: 0 -8153px; }
}
@-webkit-keyframes playcacataupe {
  from { background-position: 0 0; }
  to { background-position: 0 -8153px; }
}

.cacalap{
  background: url('../images/cacalap.png') no-repeat top left; width: 1280px; height: 928px;
  animation: playcacalap 1s steps(6) infinite;
  -webkit-animation: playcacalap 1s steps(6) infinite;
  left: -3%
}
@keyframes playcacalap {
   100% { background-position: 0 -5618px; }
}
@-webkit-keyframes playcacalap {
  from { background-position: 0 0; }
  to { background-position: 0 -5618px; }
}

.cacachev{
  background: url('../images/cacachev.png') no-repeat top left; width: 1280px; height: 928px;
  animation: playcacachev 1s steps(9);
  -webkit-animation: playcacachev 1s steps(9);
  left:-15%;
  top:-15%;
}
@keyframes playcacachev {
   100% { background-position: 0 -8243px; }
}
@-webkit-keyframes playcacachev {
  from { background-position: 0 0; }
  to { background-position: 0 -8243px; }
}

.chev{
  background: url('../images/chev.png') no-repeat top left; width: 1280px; height: 879px;
  animation: playchev 1s steps(4);
  -webkit-animation: playchev 1s steps(4);
}
@keyframes playchev {
   100% { background-position: 0 -3546px; }
}
@-webkit-keyframes playchev {
  from { background-position: 0 0; }
  to { background-position: 0 -3546px; }
}

.culois{
  background: url('../images/culois.png') no-repeat top left; width: 1280px; height: 936px;
  animation: playculois 1s steps(4);
  -webkit-animation: playculois 1s steps(4);
}
@keyframes playculois {
   100% { background-position: 0 -3546px; }
}
@-webkit-keyframes playculois {
  from { background-position: 0 0; }
  to { background-position: 0 -3546px; }
}

.animois{
  background: url('../images/animois.png') no-repeat top left; width: 1280px; height: 872px;
  animation: playanimois 1s steps(9);
  -webkit-animation: playanimois 1s steps(9);
}
@keyframes playanimois {
   100% { background-position: 0 -7928px; }
}
@-webkit-keyframes playanimois {
  from { background-position: 0 0; }
  to { background-position: 0 -7928px; }
}

.venere{
  background: url('../images/venere.png') no-repeat top left; width: 1280px; height: 853px;
  animation: playvenere 1s steps(6);
  -webkit-animation: playvenere 1s steps(6);
  left: -13%;
  top: -50px;
}
@keyframes playvenere {
   100% { background-position: 0 -5116px; }
}
@-webkit-keyframes playvenere {
  from { background-position: 0 0; }
  to { background-position: 0 -5116px; }
}
.animation{
  position: fixed;
  z-index: 1;
}
.hide{ display : none;}
