.invisible{
    background: none;
}
.walk{
    background: url('../images/walk.png') no-repeat top left;
    width: 371px;
    height: 381px;
    animation: play 1.8s steps(4) infinite;
    -webkit-animation: play 1.8s steps(4) infinite;
}
@keyframes play {
    100% { background-position: -1463px; }
}


.ground-clean{
    background: url('../images/venere.png') no-repeat -157px -4305px; width: 1123px; height: 811px;
    left: -2% !important;
    top: 2%;
}


/*2dn scene*/
/*taupe is angry and looking at the sky*/
.angry{
    background: url('../images/taupeFaces/taup2.png') no-repeat;
    width: 304px;
    height: 531px;
}

/*taupe get bird shit*/
.bird-shit{
    background: url('../images/taupeFaces/taup3.png') no-repeat;
    width: 395px;
    height: 433px;
}

/*horse pointing finger*/
.horse-finger{
    background: url('../images/taupeFaces/taup4.png') no-repeat;
    width: 395px;
    height: 433px;
}

/*horse pointing finger*/
.horse-sit{
    background: url('../images/taupeFaces/taup5.png') no-repeat;
    width: 395px;
    height: 433px;
}

/*horse pointing finger*/
.rabitt1{
    background: url('../images/taupeFaces/taup6.png') no-repeat;
    width: 395px;
    height: 433px;
}

/*horse pointing finger*/
.rabitt2{
    background: url('../images/taupeFaces/taup7.png') no-repeat;
    width: 395px;
    height: 433px;
}

/*horse pointing finger*/
.goat12{
    background: url('../images/taupeFaces/taup81.png') no-repeat;
    width: 395px;
    height: 433px;
}
/*horse pointing finger*/
.goat1{
    background: url('../images/taupeFaces/taup8.png') no-repeat;
    width: 395px;
    height: 433px;
}

/*horse pointing finger*/
.goat2{
    background: url('../images/taupeFaces/taup9.png') no-repeat;
    width: 395px;
    height: 433px;
}

/*horse pointing finger*/
.flies1{
    background: url('../images/taupeFaces/taup11.png') no-repeat;
    width: 395px;
    height: 433px;
}

/*horse pointing finger*/
.flies2{
    background: url('../images/taupeFaces/taup11.png') no-repeat;
    width: 395px;
    height: 433px;
}

/*horse pointing finger*/
.dog1{
    background: url('../images/taupeFaces/taup11.png') no-repeat;
    width: 395px;
    height: 433px;
}

/*horse pointing finger*/
.finish{
    background: url('../images/taupeFaces/taup11.png') no-repeat;
    width: 395px;
    height: 433px;
}
