.invisible{
    background: none;
}
.walk{
    background: url('../images/walk.png') no-repeat top left;
    width: 371px;
    height: 381px;
    animation: play 1.8s steps(4) infinite;
    -webkit-animation: play 1.8s steps(4) infinite;
}
@keyframes play {
    100% { background-position: -1463px; }
}


.ground-clean{
    background: url('../images/taupe-ground-clean.png') no-repeat top left;
    width: 371px;
    height: 381px;
}

/*2dn scene*/
/*taupe is angry and looking at the sky*/
.angry{
    background: url('../images/tjambes.png') no-repeat top left;
    width: 371px;
    height: 381px;
}

/*taupe get bird shit*/
.bird-shit{
    background: url('../images/walk.png') no-repeat top left;
    width: 371px;
    height: 381px;
}